<!DOCTYPE html>
<html lang="zh-CN" class="no-js">

<head>
  <meta charset="UTF-8" />
  <title>MyBricks</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.21.6/antd.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ant-design-icons/5.2.6/index.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/antd/4.21.6/antd.min.js"></script>
  <script src="https://f2.beckwai.com/kos/nlav12333/mybricks/designer-spa/2.0.0/index.min.js"></script>
  <style>
    body {
      margin: 0;
      height: 100vh;
      overflow: hidden;
    }
    #root {
      height: 100%;
    }
  </style>
</head>
<body>
  <div id="root"></div>
</body>

</html>
